# Data Science Tools and Ecosystem

___In this notebook, Data Science Tools and Ecosystem are summarized.___

**Objectives:**
* Add comment to code cell
* Create markdown cells
* Add ordened list to markdown cells
* Make an evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQl
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Keras
6. TensorFlow

| Data Science Tools |
| -------------| 
| Jupyter Notebook |
| MongoDB |
| Spark SQL |
| GitHub |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python
* (20+5)*4
* 1 + 2 + 3
* 8 / 4

# This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [2]:
200 / 60

3.3333333333333335

## Author
Nat√°lia Miranda Fonseca